#container1 {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.aside {
  width: 25%;
  background-color: aquamarine;
}
#mainside {
  width: 75%;
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
#mainside > div {
  background-color: bisque;
  text-align: center;
  width: 100%;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  margin: 25px;
}
#mainside div img {
  border-radius: 10%;
  width: 80%;
  margin: auto;
  margin-top: 0;
}
