#container1 {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.aside {
  width: 18%;
  background-color: rgb(217, 217, 217);
}
#filter {
  width: 90%;
  height: 40px;
  display: block;
  margin: auto;
  font-size: 30px;
  font-weight: 600;
}

#mainside {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  margin-left: 10px;
}
#mainside > div {
  /* background-color: rgb(194, 194, 194); */
  text-align: center;
  width: 100%;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#mainside div img {
  border-radius: 10%;
  width: 80%;
  margin: auto;
  margin-top: 0;
}
#mainside div p {
  margin-top: 10px;
  font-size: 20px;
}
#mainside div button {
  border-radius: 20px;
  margin: 20px;
  width: 30%;
  height: 50px;
  color: #fff;
  background-color: black;
}
