#bgcolor {
  text-align: center;
  width: 100%;
  height: 700px;
  /* background-color: #2b60bb; */
  margin-top: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.container {
  text-align: center;
  width: 100%;
  height: 700px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin-top: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bestSellingbox-Swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  position: relative;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
.swiper {
  width: 90%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f3f0f0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 100;
  border-radius: 10px;
}
.swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border-radius: 10%; */
  border: 3px solid rgb(218, 218, 226);
}

.swiper-slide .image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: 3px solid rgb(218, 218, 226);
}

.name-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  justify-content: space-between;
}
.name-price .name {
  font-size: 20px;
  font-weight: 600;
}
.name-price .price {
  font-size: 15px;
  font-weight: 500;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 5px 0;
}
.button button {
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button button:hover {
  background: #815108;
}
.justIn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  position: relative;
}
.payLater {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  position: relative;
}
.gifting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  position: relative;
}
.savers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  position: relative;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(63, 61, 61, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(75, 75, 75, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(255, 157, 0, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
.new_launched {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  position: relative;
}
.skincare {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  position: relative;
}

.upcomming_month {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  position: relative;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  position: relative;
}
