.thisthatcont {
  margin-top: 20px;
  text-align: center;
}
.thisthat {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 95%;
  margin: auto;
  text-align: center;
}
.this img {
  width: 100%;
}
.that img {
  width: 100%;
}
